.container {
    background-color: #f5f5f5;
    width: 650px;
    margin: auto; /* Center the container */
}

.header {
    text-align: center;
    background-color: #011e29;
    color: white;
    padding: 20px;
}

.latest-news-section, .main-article, .pictorial-news-section {
    background-color: white;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
}

.latest-news-section ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

.pictorial-news-section {
    text-align: center; /* Ensure this is set to center */
}

.pictorial-news-section img {
    width: 130px;
    margin: 10px;
}